* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  


.drop-box {
    transform: translateZ(0); 
    background: rgb(20, 21, 48,);
    
}

.drop-box > .drop-box-block {
    display: none;
    position: absolute;
    opacity: 0;
}


.drop-box > label {
    display: block;
    position: relative;
    height: 50px;
    line-height: 50px;
    padding: 0 40px;
    background: rgb(20, 21, 48,);
    font-weight: bold;
    cursor: pointer;
}

.drop-box label:hover {
   color:  rgb(241, 28, 28, 0.8);
   border-left: 1px solid rgb(241, 28, 28, 0.8);
}



.drop-box > label::after {
    content: '';
    position: absolute;
    top: 12px;
    right: 20px;
    width: 12px;
    height: 12px;
    border-left: 2px solid rgb(241, 28, 28, 0.8);
    border-top: 2px solid rgb(241, 28, 28, 0.8);
    transform: rotate(-135deg);
    transition: 0.7s transform;
}



.drop-box > section {
    overflow: hidden;
    height: 0;
    transition: all .6s;
}

.drop-box > .drop-box-block:checked ~ label::after {
    transform: rotate(45deg);
    top: 16px;
}

.drop-box > .drop-box-block:checked ~ section {
    height: 200px;
}

.drop-box:nth-child(2) > .drop-box-block:checked ~ section {
    height: 200px;
}

.drop-box:nth-child(3) > .drop-box-block:checked ~ section {
    height: 200px;
}

.drop-box:nth-child(4) > .drop-box-block:checked ~ section {
    height: 200px;
}

.drop-box:nth-child(5) > .drop-box-block:checked ~ section {
    height: 200px;
}

.drop-box:nth-child(6) > .drop-box-block:checked ~ section {
    height: 200px;
}