/* main settings */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-image: linear-gradient(rgba(20, 21, 48, 0.8), rgba(39, 5, 5, 0.8));
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: rgba(20, 21, 48, 0.6);
    background-image: linear-gradient(rgba(20, 21, 48, 0.8), rgba(39, 5, 5, 0.8));
    background-repeat: repeat;
    background-size: contain;
    color: #f2f2f2;
}


.head-one {
    padding: 30px 0px 50px 0px;
    font-size: 54px;
    font-weight: bold;
    justify-content: center;
    align-items: end;
    text-align: center;
    
}

.head-two {
    line-height: 34px;
    padding: 30px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    text-align: center;
    font-weight: normal;   
}

.body-links {
    position: relative;
    margin: 0px;
    padding: 40px 0px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    padding: 0px;
    font-weight: normal;
    color: #f2f2f2;    
}

.body-links:hover {
    color: #f2f2f2;
}

.body-links:hover::before {
    transform: scaleX(1);
    transition: 0.8s transform;
    transform-origin: left;
}

.body-links::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    bottom: -5px;
    background-color: rgb(241, 28, 28);
    transform:  scaleX(0);
    transform-origin: right;
    transition: 0.8s transform;
}


.wrapper {
    margin: 0 auto;
    max-width: 1440px;
}


.main-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


/*  HEADER  */
.header-page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: 13vh;
    background-color: rgb(20, 21, 48, 0);
    
    
}

.main-menu {
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
    
    margin: 20px;
    list-style: none;
    
}

.main-menu-list {
    display: flex;

    list-style: none;
}

.main-menu li {
    padding: 20px;
}

.main-menu .menu-link {
    position: relative;
    margin: 0px;
    padding: 0px;
    font-family:'Roboto', sans-serif;
    font-size: 20px;
    color: #f2f2f2;
    text-decoration: none;
}

.menu-link:hover::before {
    transform: scaleX(1);
    transition: 0.6s transform;
    transform-origin: left;

}

.menu-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    bottom: -5px;
    background-color: rgb(241, 28, 28);
    transform: scaleX(0);
    transform-origin: right;
    transition: 0.6s transform;
}



/*  AVATAR */

.container-avatar {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 0px;
    padding: 0px;
}

.header-title{
    align-content: center;
    margin-bottom: 40px;
}

.header-span {
    color: rgb(241, 28, 28, 0.8);
}


.avatar {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    text-align: right;
}

.avatar-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}



/* ABOUT ME  */

.about-me {
    margin-top: 50px;
    margin-bottom: 60px;
    padding: 0px 20px 0px 20px;
}

.about-me p{
    padding: 0px 40px 0px 40px;
    margin: 40px auto;
    text-align: center;
    font-family:'Roboto', sans-serif;
    font-size: 22px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.9);
}


/* wORK EXPERIENCE  will find in drop-down-blocks.css */



/* SKILLS */
.skills {
    margin: 0px;
    padding: 0px;
    
}

.skills-block {
    display: flex;
    flex-direction: column;
    margin: 30px 20px 30px 20px;
    padding: 10px;
    
    
}

.skills-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    
    
}

.skills-link {
    display: block;    
    position: relative;
    margin: 20px 40px 20px 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none; 
}

.skills-link:hover {
    color: rgba(255, 255, 255, 1);
}

.skills-link:active {
    color: rgba(255, 255, 255, 1);
}

.skills-link:visited {
    color: rgba(255, 255, 255, 1);
}

.skills-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    top: -15px;
    left: 0px;
    background-color: rgba(241, 28, 28, 0.8);
    transform: scaleX(0);
    transition: 0.2s transform;
}

.skills-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -15px;
    left: 0px;
    background-color: rgba(241, 28, 28, 0.8);
    transform: scaleX(0);
    transition: 0.2s transform;
    
}


.skills-link:hover::after {
    transform-origin: bottom;
    transform: scaleY(1);
    transition: 0.2s transform;

}

.skills-link:hover::before {
    transform-origin: top;
    transform: scaleY(1);
    transition: 0.2s transform;
}




/* EDUCATION */
.education {
    margin: 0px;
    padding: 0px;
}

.table-edu {
    margin: 50px auto 50px auto;
    border-collapse: collapse;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
}

.table-string {
    text-align: left;
    padding: 20px;
}


.table-edu td {
    padding: 20px;
    border-bottom: 2px solid rgba(241, 28, 28, 0.8);
}

.td-color {
    color: rgba(241, 28, 28, 0.8);
}

/* CODE BLOCK */
.code-block {
    padding: 20px;
}

.code-pre {
    margin: 0px;
}

.code-span-1 {
    color: rgba(255, 255, 255, o.7);
}

.code-span-2 {
    color: rgba(241, 28, 28, 0.9);
}



/* LANGUAGES */
.languages {
    padding: 20px;
}

.lang-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 20px 20px 20px 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: normal;
    line-height: 30px;
    list-style: none;
}

.lang-list li {
    margin-right: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}


/* CONTACTS */

.contacts {
    margin: 0px;
    padding: 0px;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 50px auto 50px auto;
}

.contacts-list li {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: normal;
    line-height: 30px;
    padding: 10px 40px 10px 40px;
    
    
}

.contact-link {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

.contact-link:hover {
    color: rgba(255, 255, 255, 0.9);
}

.contact-link:active {
    color: rgba(255, 255, 255, 0.7);
}

.contact-link:visited {
    color: rgba(241, 28, 28, 0.7);
}

.contact-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    bottom: -7px;
    background-color: rgba(241, 28, 28, 0.7);
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.8s transform;
    
}

.contact-link:hover::after {
    transform: scaleX(1);
    transition: 0.8s transform;
}

.contacts-icon img {
    position: absolute;
    left: -50px;
    top: 0px;
    width: 35px;
    height: 35px;

}



/* FOOTER */
.footer-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 10px 0px 10px 0px;
    padding: 0px 40px 0px 40px;
}

.footer-logo-school img {
    width: 150px;
    height: 150px;   
   
}

.footer-link {
    text-align: right;
    text-decoration: none;
    
}


