/* main settings */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: rgb(20, 21, 48, 0.9);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8 )), url("../assets/img/images/back.jpg");
    background-repeat: repeat;
    background-size: contain;
    color: #f2f2f2;
}


.head-one {
    padding: 50px 0px 20px 0px;
    font-size: 54px;
    font-weight: bold;
}

.head-two {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    line-height: 34px;
    padding: 30px 0;
    font-weight: normal;   
}

.body-links {
    position: relative;
    margin: 0px;
    padding: 40px 0px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    padding: 0px;
    font-weight: normal;
    color: #f2f2f2;    
}

.body-links:hover {
    color: #f2f2f2;
}

.body-links:hover::before {
    transform: scaleX(1);
    transition: 0.8s transform;
    transform-origin: left;
}

.body-links::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    bottom: -5px;
    background-color: rgb(241, 28, 28);
    transform:  scaleX(0);
    transform-origin: right;
    transition: 0.8s transform;
}


.wrapper {
    margin: 0 auto;
    max-width: 1440px;
}



/*  HEADER  */
.header-page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: 13vh;
    background-color: rgb(20, 21, 48, 0);
    
    
}

.main-menu {
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 20px;
    list-style: none;
    
}

.main-menu li {
    padding: 20px;
}

.main-menu .menu-link {
    position: relative;
    margin: 0px;
    padding: 0px;
    font-family:'Roboto', sans-serif;
    font-size: 20px;
    color: #f2f2f2;
    text-decoration: none;
}

.menu-link:hover::before {
    transform: scaleX(1);
    transition: 0.6s transform;
    transform-origin: left;

}

.menu-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    bottom: -5px;
    background-color: rgb(241, 28, 28);
    transform: scaleX(0);
    transform-origin: right;
    transition: 0.6s transform;
}



/*  AVATAR */

.container-avatar {
    display: flex;
    align-items: center;
    height: 50%;
    
}

.header-title{
    align-content: center;
   
}

.header-span {
    color: rgb(241, 28, 28, 0.8);
}

.head-one {
    justify-content: center;
    align-items: end;
    text-align: center;
    padding-left: 40px;
    
}

.avatar {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    text-align: right;
        
}

.avatar-img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
}



/* ABOUT ME  */

.about-me {
    margin-top: 50px;
    margin-bottom: 60px;
    padding: 0px 20px 0px 20px;
}

.about-me p{
    text-align: left;
    padding: 0px 40px 0px 40px;
    font-family:'Roboto', sans-serif;
    font-size: 22px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.8);
}


/* wORK EXPERIENCE  will find in drop-down-blocks.css */



/* SKILLS */
.skills {
    padding: 20px;
}

.skills-block {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    
}

.skills-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    
}

.skills-link {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    
}

.skills-link:hover {
    color: rgba(255, 255, 255, 1);
}

.skills-link:active {
    color: rgba(255, 255, 255, 1);
}

.skills-link:visited {
    color: rgba(255, 255, 255, 1);
}

.skills-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    top: -15px;
    left: 0px;
    background-color: rgba(241, 28, 28, 0.8);
    transform: scaleX(0);
    transition: 0.2s transform;
}

.skills-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -15px;
    left: 0px;
    background-color: rgba(241, 28, 28, 0.8);
    transform: scaleX(0);
    transition: 0.2s transform;
    
}


.skills-link:hover::after {
    transform-origin: bottom;
    transform: scaleY(1);
    transition: 0.2s transform;

}

.skills-link:hover::before {
    transform-origin: top;
    transform: scaleY(1);
    transition: 0.2s transform;
}




/* EDUCATION */
.education {
    padding: 20px;
}

.education ul {
    list-style: none;
}



/* CODE BLOCK */
.code-block {
    padding: 20px;
}



/* LANGUAGES */
.languages {
    padding: 20px;
}

.languages ul {
    list-style: none;
}


/* CONTACTS */
.contacts {
    text-align: center;
    padding: 10px;
    
}

.contacts ul {
    list-style: none;
}

/* FOOTER */
.footer-page {
    background-color: rgb(20, 21, 48, 0.9);
    width: auto;
    height: 15vh;
}
